



<div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="35px" fxLayoutAlign="flex-start" id="cardContainer" >
    <mat-card class="example-card" style="width:400px" id="">
      <mat-card-header>
              <mat-card-title>KARNATAKA</mat-card-title>
        <mat-card-subtitle>180</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <p>
          Death :11
        </p>
        <p>
          Confimed  :11
        </p>
        <!-- <p>
          Active :11
        </p>
        <p>
          Recovered :11
        </p> -->
        <!-- <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card><mat-card>Simple card</mat-card> -->
        <mat-accordion>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
               Red Zone
              </mat-panel-title>
              <mat-panel-description>
               
               
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            Total Districts :20
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
               Green Zone
              </mat-panel-title>
              <mat-panel-description>
                Currently I am 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
               Orange Zone
              </mat-panel-title>
              <mat-panel-description>
                Currently I am 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    
    </mat-card>
</div>